---
import { type CollectionEntry } from 'astro:content';
import Layout from './Layout.astro';
import { tagLabel } from '../data';

type Props = CollectionEntry<'qaripter'>['data'];
const { title, url, author, tags, download, summary, active } = Astro.props;

---
<Layout title={`${title} — Қазақша тегін қаріп, бесплатный казахский шрифт`}>
  <article class="max-w-4xl mx-auto dark:text-white">
    <nav class="flex flex-wrap gap-3 mb-8">
      <a href="/qaripter" class="py-1">Қаріптер</a>
      <span class="py-1 opacity-50">/</span>
      {tags?.map((tag: string) => (
        <a href="" class="tag">{tagLabel[tag] || tag}</a>
      ))}
    </nav>

		<div class="flex justify-between items-center mb-4">
			<h1 class="page-title">
				{title} <span class="text-xl font-thin opacity-70">by {author}</span>
			</h1>

			{download.length > 0 && (
				<a href={download} download="" class="bg-brand px-6 py-2 rounded-full text-lg font-medium text-white">Жүктеп алу</a>
			)}
		</div>

    {summary && (
      <p class="text-xl mt-4 mb-12">{summary}</p>
    )}
		<div class="border-b border-opacity-50 dark:border-brand/20 border-brand/40 mb-6 flex overflow-y-auto">
			<a href={`/qaripter/${url}/`} class={`cursor-pointer py-3 px-4 ${active === '1' && 'active'}`}>Қаріп</a>
			<a href="description" class={`cursor-pointer py-3 px-4 ${active === '2' && 'active'}`}>Сипаттамасы</a>
			<!-- <div class="cursor-pointer py-3 px-4">Тексеріп алу</div> -->
			<!-- <div class="cursor-pointer py-3 px-4">Лицензиясы</div> -->
		</div>
    <div>
      <slot />
    </div>
    <!-- <div class="prose-lg md:prose-xl dark:prose-invert">
      <slot />
    </div> -->
  </article>
</Layout>
<style>
  .tag {
    @apply bg-brand-dark/20 rounded-lg dark:text-white text-brand-dark px-3 py-1;
    @apply hover:bg-brand/50;
  }
  .active {
    @apply text-brand-light bg-brand-dark/20 rounded-t-2xl;
  }
</style>
